torch==2.7.1
torchaudio==2.7.1
lightning[extra]>=2.0.2
scipy
scikit-learn
matplotlib
einops
onnx
onnxruntime
numpy
# needed for data preparation
librosa
pydantic
pyworld
# for audio playback
sounddevice
# sudo apt-get inxstall portaudio19-dev
typed-argument-parser
phonemizer
tqdm
